/***************** Generales ***************/
/*******************************************/
body {
  min-width: 1120px
}

body, div, span, img, h1, h2, h3, h4, h5, h6, form, table, td, tr, p {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  font-size: 12px;
  font-family: sans-serif;
}

input[type="button"] {  /* Firefox pone un feo margin/padding a los botones */
  margin: 0;
  padding: 0;
}

input[type="text"] {
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  margin: 0px;
}


.spacer {
  clear: both;
}



/***************** body ***************/
/**************************************/
body.bg01 {
  background: url("../images/page-bg-01.jpg");
}
body.bg02 {
  background: url("../images/page-bg-02.jpg");
}
body.bg03 {
  background: url("../images/page-bg-03.jpg");
}
body.bg04 {
  background: url("../images/page-bg-04.jpg");
}
body.bg05 {
  background: url("../images/page-bg-05.jpg");
}



/*********** balloons class ***************/
div.balloonTip p {
  margin: 0;
}

div.balloonInvitationTip p {
  font-size: 120%;
}
div.balloonInvitationTip a {
  font-size: 150%;
  color: #666;
  text-decoration: underline;
}
div.balloonInvitationTip a:hover {
  color: #FF0035;
}


/************* top-bar ****************/
#top-bar {
  position: absolute;
  z-index: 100;
  height: 40px;
  width: 100%;
  background: #000 20px center url("../images/logo-mini.png") no-repeat;
}

#top-bar div.description {
  position: absolute;
  right: 20px;
  bottom: 5px;
  color: #BBB;
}

#top-bar div.description p {
  font-size: 13px;
  text-decoration: none;
}

#top-bar div.description p a {
  font-size: 110%;
  font-weight: bold;
  color: #F9547F;
  text-decoration: none;
}
#top-bar div.description p a:hover {
  text-decoration: underline;
}

#top-bar div.description p a span {
  color: #FFF;
}

#top-bar #call-invitation {
  display: none;
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 8px;
  text-align: center;
}
#top-bar #call-invitation a {
  text-decoration: none;
  font-size: 20px;
  color: #FF67A5;
  border-bottom: 1px solid #FFF;
  cursor: default;
}



/************** login-page ************/
/**************************************/
#login-full-background {
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  /* background: #00A8A8; old blue */
  background: #AC9865;
}

#login-box {
  position: absolute;
  z-index: 100;
  width: 500px;
  height: 450px;
  left: 50%;
  /*top: 50%;*/
  top: 100px;
  margin-left: -250px;
  /*margin-top: -220px;*/
  background: url("../images/transparent-25-bg.png") repeat;
  border-radius: 10px;
  padding-top: 10px;
  box-shadow: 0 4px 50px -1px #FFF;
}

#login-box div.logo {
  width: 347px;
  height: 190px;
  margin: auto;
  background: center url("../images/logo.png") no-repeat;
  z-index: 10;
}

#login-form {
  position: relative;
  margin: 20px auto 0 auto;
  width: 400px;
  z-index: 10;
}

#login-form label {
  position: relative;
  display: block;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  background: #AB9B7A;
  opacity: 0.9;
  color: #FFF;
  border-radius: 4px 4px 0 0;
}
#login-form label span.description {
  display: block;
  float: right;
  font-size: 13px;
  font-weight: normal;
  text-align: right;
}
#login-form label span.description span.ie {
  font-weight: bold;
}

#login-form input {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 400px;
  height: 28px;
  border: 0;
  line-height: 28px;
  text-indent: 10px;
  font-size: 20px;
  color: #444;
  border-radius: 0 0 4px 4px;
}

#login-form a.balloon {
  display: block;
  width: 24px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: -28px;
  background: center url("../images/help-icon.png") no-repeat;
  cursor: default;
}

#login-form-from-invitation {
  position: relative;
  margin: 70px auto 0 auto;
  width: 400px;
  z-index: 10;
  display: none;
}

#login-form-from-invitation label {
  display: block;
  text-align: center;
  font-size: 25px;
  color: #FFF;
}

#login-form-from-invitation input {
  margin: 0 auto;
  margin-top: 20px;
  width: 400px;
  height: 40px;
  border: 1px solid #FF2D66;
  line-height: 30px;
  text-indent: 15px;
  font-size: 30px;
  color: #FF2D66;
  border-radius: 4px;
}

#advanced-settings-link {
  margin-top: -5px;
  margin-right: 50px;
  text-align: right;
}
#advanced-settings-link a {
  font-size: 13px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 2px #FFF;
  border-bottom: 1px solid #FFF;
}
#advanced-settings-link a:hover {
  color: #FFF;
  text-shadow: none;
  border-color: #FFF;
}

#advanced-settings {
  position: absolute;
  width: 460px;
  height: 410px;
  padding: 15px 20px;
  padding-right: 0;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  margin-top: -220px;
  background: #FEFEFE;
  opacity: 0.95;
  display: none;
  border-radius: 4px;
  z-index: 20;
}

#advanced-settings div.close {
  position: absolute;
  right: 10px;
  top: 13px;
  width: 20px;
  height: 20px;
  background: center url("../images/session-close.png") no-repeat;
  cursor: pointer;
  z-index: 100;
}

#advanced-settings p.link-jssip-doc {
  color: #000;
  height: 10%;
}
#advanced-settings p.link-jssip-doc a {
  color: #F9547F;
}

#advanced-settings form {
  height: 90%;
  overflow: auto;
}

#advanced-settings form table {
  padding: 0 10px 10px 0;
  width: 100%;
}

#advanced-settings form table td {
  padding: 2px 10px;
}

#advanced-settings form table td.label {
  text-align: right;
}

#advanced-settings form table td.value {
  text-align: left;
  width: 140%;
}
#advanced-settings form table td.value input[type="text"] {
  width: 100%;
  color: #AD3A58;
  text-align: right;
}

#use-tryit-account-link {
  position: absolute;
  bottom: -40px;
  width: 100%;
  text-align: center;
}
#use-tryit-account-link a {
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
  text-shadow: 0 1px 2px #333;
  border-bottom: 1px solid #FFF;
}
#use-tryit-account-link a:hover {
  color: #FC0438;
  text-shadow: 0 1px 2px #FFF;
  border-color: #FC0438;
}

#Y_U_NO {
  position: absolute;
  width: 400px;
  height: 200px;
  left: 50%;
  top: 10px;
  margin-left: -200px;
  background: center url("../images/Y_U_NO.png") no-repeat;
  border-radius: 5px;
  display: none;
  z-index: 300;
}
#Y_U_NO p {
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}




/****** phone-page *******/
#phone-page {
  padding-top: 40px;
}



/***** themes *******/
#themes {
  position: absolute;
  right: 0;
  top: 68px;
  width: 64px;
  padding: 8px;
  background: url("../images/transparent-black-25-bg.png") repeat;
  border-radius: 5px 0 0 5px;
}

#themes div {
  height: 64px;
  width: 64px;
  margin-top: 8px;
  cursor: pointer;
}

#themes div.theme01 {
  margin-top: 0;
  background: url("../images/mini-bg-01.png");
}

#themes div.theme02 {
  background: url("../images/mini-bg-02.png");
}

#themes div.theme03 {
  background: url("../images/mini-bg-03.png");
}

#themes div.theme04 {
  background: #000 url("../images/mini-bg-04.png");
}


/***************** phone ***************/
/*******************************************/
#phone {
  position: relative;
  float: left;
  width: 270px;
  padding: 20px 10px;  
  background: url("../images/transparent-25-bg.png") repeat;
  border-radius: 0 0 10px 0;
  margin-bottom: 20px;
}


#phone .line-separator {
  clear: both;
  height: 1px;
  background: url("../images/dialpad-buttons-horizontal-separator.png") no-repeat;
}

#phone .line-separator-black {
  clear: both;
  height: 1px;
  background: url("../images/dialpad-buttons-horizontal-separator-black.png") no-repeat;
}


/* status */

#phone .status {
  position: relative;
  padding: 10px;
  font-family: monospace;
  /* width interno: 234px */
  background: url("../images/transparent-50-bg.png") repeat;
  border-radius: 5px;
  color: #000;
  opacity: 0.8;
}

#phone .status > div + div {
  margin-top: 10px;
}

#phone .status span.field {
  font-size: 14px;
  font-weight: bold;
}

#phone .status span.value {
  font-size: 14px;
  font-weight: bold;
}
#phone .status #conn-status.connected span.value {
  color: #C49300;
}
#phone .status #conn-status.registered span.value {
  color: #008000;
}
#phone .status #conn-status.disconnected span.value {
  color: #FF2200;
}

#phone .status input[type="checkbox"] {
  position: relative;
  top: 2px;
}

#phone .status span.value.user {
  font-size: 14px;
  color: #008000;
}


/* controls */
#phone .controls {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 18px;
  padding-bottom: 10px;
  background: url("../images/transparent-black-75-bg.png") repeat;
  border-radius: 5px;
}


#phone .controls .ws-disconnected {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background: #333;
  border-radius: 5px;
  z-index: 100;
  display: none;
}

/* dialbox */

#phone .dialbox {
  position: relative;
  font-family: monospace;
}

#phone .dialbox input.destination {
  display: block;
  position: relative;
  width: 186px;
  padding: 0 5px 0 40px;
  height: 43px;
  line-height: 43px;
  border: 1px solid #666;
  margin: 0;
  outline: none; /* Remove the border when has the focus */
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-align: right;
  letter-spacing: 1px;
  background: center url("../images/dialed-number.png") repeat-x;
  opacity: 0.9;
  border-radius: 5px;
}
#phone .dialbox input.destination:hover {
  border-color: #EEE;
}
#phone .dialbox input.destination:focus {
  border-color: #EEE;
  opacity: 1;
}

#phone .dialbox .to {
  position: absolute;
  z-index: 10;
  top: 2px;
  padding-left: 8px;
  height: 40px;
  line-height: 40px;
  font-size: 150%;
  color: #FFF;
  font-family: inherit;
  opacity: 0.5;
}

#phone .dialbox .dial-buttons {
 position: relative;
 margin-top: 10px;
}

#phone .dialbox .dial-buttons .button {
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: #FFF;
  opacity: 0.8;
  letter-spacing: 10px;
  text-align: center;
  user-select: none;
}
#phone .dialbox .dial-buttons .button:hover {
  color: #FFF;
  opacity: 1;
  text-shadow: #FFF 0px 0px 5px;
}
#phone .dialbox .dial-buttons .button:active {
  color: #00FF00;
}


/* dialpad */

#phone .dialpad {
  position: relative;
  margin-top: 10px;
  user-select: none;
}

#phone .dialpad .line {
  height: 50px;
  user-select: none;
}

#phone .dialpad .button {
  float: left;
  height: 50px;
  width: 76px;
  color: #FFF;
  opacity: 0.8;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

#phone .dialpad .button:hover {
  color: #FFF;
  opacity: 1;
  text-shadow: #FFF 0px 0px 5px;
}

#phone .dialpad .button:active {
  color: #00FF00;
}



/***************** sessions ***************/
/*******************************************/
#sessions {
  position: relative;
  float: left;
  margin-left: 10px;
  width: 300px;
  padding-top: 10px;
}

#sessions .session {
  display: none;
  position: relative;
  background: url("../images/transparent-25-bg.png") repeat;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  margin-bottom: 10px;
}

#sessions .session .close {
  position: absolute;
  right: -45px;
  top: 10px;
  width: 60px;
  height: 40px;
  background: center top url("../images/session-close.png") no-repeat;
  cursor: pointer;
  z-index: 100;
  display: none;
}

#sessions .session .container {
  position: relative;
  background: url("../images/transparent-75-bg.png") repeat;
  border-radius: 0 10px 10px 0;
  padding: 5px;
}

#sessions .session .peer span {
  font-size: 12px;
  color: #555;
}

#sessions .session .peer span.display-name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 5px;
}

#sessions .session .container > .call {
  margin-top: 6px;
  height: 32px;
  color: #333;
}

#sessions .session .container > .call > .button {
  float: left;
  margin-right: 2px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
#sessions .session .container > .call > .button.dial {
  background-image: url("../images/icon-dial.png");
}
#sessions .session .container > .call > .button.hangup {
  background-image: url("../images/icon-hangup.png");
}
#sessions .session .container > .call > .button.hold {
  background-image: url("../images/icon-hold.png");
}
#sessions .session .container > .call > .button.resume {
  background-image: url("../images/icon-resume.png");
}
#sessions .session .container > .call > .button.dtmf {
  background-image: url("../images/icon-dtmf.png");
  position: relative;
  user-select: none;
}
#sessions .session .container > .call .dtmf-box {
  z-index: 200;
  position: absolute;
  top: 60px;
  /* left: 108px;  Uncomment when hold/resume is done */
  left: 74px;
  background: url("../images/transparent-black-75-bg.png");
  border: 1px solid #FFF;
  opacity: 0.8;
  display: none;
}
#sessions .session .container > .call .dtmf-box > div.dtmf-row {
  width: 90px;
}
#sessions .session .container > .call .dtmf-box > div.dtmf-row > div.dtmf-button {
  float: left;
  width: 30px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}
#sessions .session .container > .call .dtmf-box div.dtmf-row div.dtmf-button:hover {
  color: #FC417A;
  background: black;
}

#sessions .session .container > .call .call-status {
  float: left;
  /* width: 144px; Uncomment when hold/resume is useful */
  width: 178px;
  height: 24px;
  padding-top: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  _overflow: hidden;
}

/* call inactive */
#sessions .session .container > .call.inactive .button.dial {
}
#sessions .session .container > .call.inactive .button.hangup {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.inactive .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.inactive .button.resume {
  display: none;
}
#sessions .session .container > .call.inactive .button.dtmf {
  cursor: default;
  opacity: 0.4;
}

/* call trying */
#sessions .session .container > .call.trying .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.trying .button.hangup {
}
#sessions .session .container > .call.trying .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.trying .button.resume {
  display: none;
}
#sessions .session .container > .call.trying .button.dtmf {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.trying .call-status {
  color: #666;
}

/* call in-progress */
#sessions .session .container > .call.in-progress .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.in-progress .button.hangup {
}
#sessions .session .container > .call.in-progress .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.in-progress .button.resume {
  display: none;
}
#sessions .session .container > .call.in-progress .button.dtmf {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.in-progress .call-status {
  color: #C49300;
}

/* call incoming */
#sessions .session .container > .call.incoming .button.dial {
}
#sessions .session .container > .call.incoming .button.hangup {
}
#sessions .session .container > .call.incoming .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.incoming .button.resume {
  display: none;
}
#sessions .session .container > .call.incoming .button.dtmf {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.incoming .call-status {
  color: #C49300;
}

/* call answered */
#sessions .session .container > .call.answered .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.answered .button.hangup {
}
#sessions .session .container > .call.answered .button.hold {
}
#sessions .session .container > .call.answered .button.resume {
  display: none;
}
#sessions .session .container > .call.answered .button.dtmf {
}
#sessions .session .container > .call.answered .call-status {
  color: #008000;
}

/* call answered-elsewhere */
#sessions .session .container > .call.answered-elsewhere .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.answered-elsewhere .button.hangup {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.answered-elsewhere .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.answered-elsewhere .button.resume {
  display: none;
}
#sessions .session .container > .call.answered-elsewhere .button.dtmf {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.answered-elsewhere .call-status {
  color: #558000;
}

/* call on-hold */
#sessions .session .container > .call.on-hold .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.on-hold .button.hangup {
}
#sessions .session .container > .call.on-hold .button.hold {
  display: none;
}
#sessions .session .container > .call.on-hold .button.resume {
}
#sessions .session .container > .call.on-hold .button.dtmf {
}
#sessions .session .container > .call.on-hold .call-status {
  color: #008000;
}

/* call terminated */
#sessions .session .container > .call.terminated .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.terminated .button.hangup {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.terminated .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.terminated .button.resume {
  display: none;
}
#sessions .session .container > .call.terminated .button.dtmf {
  cursor: default;
  opacity: 0.4;
}

#sessions .session .container > .call.terminated .call-status {
  color: #FF2200;
}


#sessions .session .chat {
  position: relative;
  margin-top: 10px;
}

#sessions .session .chat .chatting {
  position: relative;
  background: #FFF;
  padding: 5px;
  font-size: 12px;
  color: #333;
  max-height: 80px;
  overflow: auto;
  border: 1px solid #CCC;
}
#sessions .session .chat .chatting.inactive {
  display: none;
}

#sessions .session .chat .iscomposing {
  position: absolute;
  background: url("../images/iscomposing2.gif") no-repeat;
  width: 26px;
  height: 26px;
  bottom: 32px;
  right: 16px;
  z-index: 20;
  display: none;
}

#sessions .session .chat .chatting p {
  font-size: inherit;
  margin-bottom: 2px;
}

#sessions .session .chat .chatting p.me {
  color: #444;
}

#sessions .session .chat .chatting p.peer {
  color: #008F00;
}

#sessions .session .chat .chatting p.error {
  color: red;
}

#sessions .session .chat input[type="text"] {
  margin: 5px 0 0 0;
  display: block;
  line-height: 24px;
  height: 24px;
  border: 1px solid #CCC;
  border-radius: 0 0 5px 0;
  width: 278px;
  font-size: 12px;
  text-indent: 5px;
  color: #000;
  font-style: normal;
}
#sessions .session .chat input[type="text"].inactive {
  color: #888;
  font-style: italic;
}



/***************** webcam **************/
/***************************************/
#webcam {
  position: absolute;
  top: 60px;
  right: 100px;
  width: 400px;
  height: 300px;
  padding: 6px;
  background: url("../images/transparent-black-25-bg.png") repeat;
  border-radius: 10px;
  border: 2px solid #EEE;
  display: none;
}

#webcam video#remoteView {
  width: 400px;
  height: 300px;
  background-color: #000;
}

#webcam video#selfView {
  position: absolute;
  bottom: 6px;
  left: 6px;
  width: 133px;
  height: 100px;
  background-color: #111;
  border-top: 2px solid #CCC;
  border-right: 2px solid #CCC;
}



/****************** TMP *********************/
#unregister_all {
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}

#ws_reconnect {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}


/* TMP: Simular entrantes */
#test-incoming {
  position: absolute;
  top: 20px;
  left: 800px;
}